
<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="C:\Users\lucas.lpsf\Documents\bootcamp\angular-blog\.ideas\quemehesse.jpg"
    cardTitle="QUEM É ESSE POKÉMON?"
    cardDescription="Você sabe quem é esse?">
    </app-big-card>


  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Jovens Titans"
    photoCover="C:\Users\lucas.lpsf\Documents\bootcamp\angular-blog\.ideas\titans.jpg"
    >

    </app-small-card>
    <app-small-card
    cardTitle="OS X-MEM"
    photoCover="C:\Users\lucas.lpsf\Documents\bootcamp\angular-blog\.ideas\x-men.jpg"
    >

    </app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
